@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;600&display=swap");

$bgColorBlue: #2e3e5e;
$defaultRed: #ec664d;
$bgBar: whitesmoke;
$defaultFont: Verdana;
$desktopTitleSizeH2: 26px;
$tabletTitleSizeH2: 28px;
$mobileTitleSizeH2: 24px;

// font-family: "Lobster", cursive;
// font-family: "Open Sans", sans-serif;
